<div id="sign-in" class="br-rsvp__guestSignIn full-height">
  <div class="br-rsvp__guestSignIn-overlay"></div>
  <div class="br-rsvp__guestSignIn-content">
    <div class="br-rsvp__guestSignIn_logo">
      <div class="br-rsvp__guestSignIn_logo-icon-container">
        <!--<img class="br-rsvp__guestSignIn_logo-icon" src="assets/images/rsvp__signin-log.png" rel="BR Logo">-->

      </div>
      <span class="br-rsvp__guestSignIn_logo-text"></span>
      <span class="br-rsvp__guestSignIn_logo-text-in">#AILENYNACHO</span>
    </div>

    <div id="guest-signin" class="br-rsvp__guestSignIn-input-field fv-form fv-form-bootstrap">
      <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
      <div class="form-group has-feedback">
        <label class="control-label visuallyhidden">Usuario</label>
        <input class="form-control br-rsvp__guestSignIn-secretCode" name="password" placeholder="Código secreto" type="text" [(ngModel)]="password" >
        <i style="display: none;" class="form-control-feedback"></i>
        <button class="btn btn-defualt br-rsvp__guestSignIn-btn" style="font-family: myriad-pro, sans-serif, Helvetica Neue, Helvetica;" (click)="login()">Enviar</button>
        <div *ngIf="passwordIncorrecta" class="br-rsvp__guestSignIn-msg help-block">
          <small  class="help-block has-error">El código secreto es incorrecto</small>          
        </div>
        <div *ngIf="passwordVacia" class="br-rsvp__guestSignIn-msg help-block">
          <small  class="help-block has-error">El código secreto es requerido</small>          
        </div>
        <div class="br-rsvp__guestSignIn-password-msg"></div>
        <div class="checkbox br-rsvp__guestSignIn-rmb-pws">
          <label>
            <input type="checkbox" style="font-family: myriad-pro,sans-serif,Helvetica Neue,Helvetica;">Recordarme</label>
        </div>
      </div>
    </div>
  </div>
</div>